*.xml
*.iml
\.idea/encodings\.xml
\.idea/misc\.xml
\.idea/modules\.xml
\.idea/vcs\.xml
\.idea/workspace\.xml
SE-team9\.iml
out/production/SE-team9/assignment/Main\.class
out/production/SE-team9/assignment/NamePrinter\.class
out/


\.idea/

out/

SE-team9\.iml

src/assignment/\.classpath

src/assignment/\.project
